openapi: 3.1.0
info:
  title: Cito Admin API
  version: 2.1.0
  description: |
    Administrative API contract for Cito operational and commercial control-plane workflows,
    including authenticated portal reads. Administrator-only operations explicitly require the
    platform ADMIN role; session and dashboard routes also support scoped merchant sessions.
servers:
  - url: https://cito.coresynergi.es
    description: Production
security:
  - merchantSession: []
tags:
  - name: Portal Workspace
  - name: Admin Payment Credentials
  - name: Admin Compliance
  - name: Admin Communication Routing
  - name: Admin Commercial Programmes
paths:
  /api/v2/portal/session:
    get:
      tags:
      - Portal Workspace
      operationId: portalSession
      summary: Read the current portal session
      description: Returns authenticated status and the current administrator or merchant identity. Requires
        an existing portal session; this endpoint does not create a login.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/portal/dashboard/summary:
    get:
      tags:
      - Portal Workspace
      operationId: portalDashboardSummary
      summary: Read the portal dashboard summary
      description: Returns financial totals and activity for the selected environment. Merchant sessions
        receive only their own data. Sandbox excludes production balances and callback counts;
        platform operations alerts are administrator-only.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/portal/merchants:
    get:
      tags:
      - Portal Workspace
      operationId: portalMerchants
      summary: List merchants for portal administration
      description: Requires platform ADMIN authorization. Returns merchant account summaries.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - count
                - limit
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: limit
        in: query
        description: Default 100; values below 1 use the default and values above 500 are capped at 500.
        schema:
          type: integer
          default: 100
  /api/v2/portal/settings:
    get:
      tags:
      - Portal Workspace
      operationId: portalSettings
      summary: Read portal administration settings
      description: Requires platform ADMIN authorization. Returns the operational settings list; this route
        is not available to merchant users.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/portal/transactions:
    get:
      tags:
      - Portal Workspace
      operationId: portalTransactions
      summary: List production transactions for portal administration
      description: Requires platform ADMIN authorization. Returns canonical production payment rows; sandbox
        transactions are excluded.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - count
                - limit
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: limit
        in: query
        description: Default 100; values below 1 use the default and values above 500 are capped at 500.
        schema:
          type: integer
          default: 100
  /api/v2/portal/sms:
    get:
      tags:
      - Portal Workspace
      operationId: portalSms
      summary: List SMS batches for portal administration
      description: Requires platform ADMIN authorization. Returns platform SMS batch summaries.
      responses:
        '200':
          description: Portal response
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - count
                - limit
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: limit
        in: query
        description: Default 100; values below 1 use the default and values above 500 are capped at 500.
        schema:
          type: integer
          default: 100
  /api/v2/admin/shared-provider/merchant-credentials:
    get:
      tags: [Admin Payment Credentials]
      operationId: listMerchantCredentialReviews
      summary: List merchant credential revisions for independent review
      description: Requires PROVIDER_CREDENTIAL_MANAGE. Returns review metadata only; never returns decrypted credentials.
      responses:
        '200':
          description: Credential review queue
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/shared-provider/merchant-credentials/{id}/decision:
    post:
      tags: [Admin Payment Credentials]
      operationId: decideMerchantCredentialRevision
      summary: Approve, reject or disable a merchant credential revision
      description: Approval and rejection require PROVIDER_CREDENTIAL_APPROVE; disabling requires PROVIDER_CREDENTIAL_MANAGE. ACTIVE requires current provider connectivity evidence and a reviewer different from the requester. Actor identity comes from authentication. Changes are audited.
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer, format: int64}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [revision, decision, reason]
              properties:
                revision: {type: integer, format: int64, minimum: 1}
                decision: {type: string, enum: [ACTIVE, REJECTED, DISABLED]}
                reason: {type: string, minLength: 1, maxLength: 1000}
      responses:
        '200':
          description: Updated credential review metadata
        '400':
          description: Stale revision, invalid transition, missing verification or maker-checker violation
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/shared-provider/credentials/{id}/verify:
    post:
      tags: [Admin Payment Credentials]
      operationId: verifyPlatformProviderCredential
      summary: Verify provider authentication without moving money
      description: Requires PROVIDER_CREDENTIAL_MANAGE. Supported for MTN and Airtel OpenAPI. Updates connectivity evidence only for the tested revision; does not activate credentials or certify settlement.
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer, format: int64}
      responses:
        '200':
          description: Provider authentication verified for the current revision
        '400':
          description: Provider authentication unavailable, unsupported provider or concurrent credential edit
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/communication/routing/providers/{providerCode}/activation:
    post:
      tags: [Admin Communication Routing]
      operationId: setSmsProviderActivation
      summary: Enable or disable an SMS provider
      description: Requires ADMIN session and CSRF protection. Checks send configuration when enabling and audits state changes. Routing rules remain separate; activation does not certify live delivery.
      parameters:
      - in: path
        name: providerCode
        required: true
        schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: {type: boolean}
              additionalProperties: false
      responses:
        '200':
          description: Provider activation saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: {type: string}
                  providerCode: {type: string}
                  enabledFlag: {type: string, enum: ['YES', 'NO']}
        '400': {description: Explicit enabled state required.}
        '404': {description: SMS provider not found.}
        '409': {description: Provider adapter or send configuration unavailable.}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/communication/notifications/catalogue:
    get:
      tags:
      - Admin Communication Routing
      operationId: getCatalogueNotifications
      summary: List notification event catalogue
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/communication/notifications/policies:
    get:
      tags:
      - Admin Communication Routing
      operationId: getPoliciesNotifications
      summary: List platform alert policies
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Admin Communication Routing
      operationId: postPoliciesNotifications
      summary: Update platform alert policy
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - eventType
              - enabled
              - dedupSeconds
              - maxPerHour
              - escalationSeconds
              properties:
                eventType:
                  type: string
                enabled:
                  type: boolean
                dedupSeconds:
                  type: integer
                  minimum: 0
                  maximum: 86400
                maxPerHour:
                  type: integer
                  minimum: 1
                  maximum: 1000
                escalationSeconds:
                  type: integer
                  minimum: 60
                  maximum: 86400
              additionalProperties: false
  /api/v2/admin/communication/notifications/groups:
    get:
      tags:
      - Admin Communication Routing
      operationId: getGroupsNotifications
      summary: List administrator alert groups and recipients
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v2/admin/communication/notifications/groups/{group}/recipients:
    post:
      tags:
      - Admin Communication Routing
      operationId: postGroupsGroupRecipientsNotifications
      summary: Assign or deactivate an administrator recipient
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - escalationLevel
              - active
              oneOf:
              - required: [adminId]
              - required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^[+]?[1-9][0-9]{7,14}$'
                  description: International phone recipient without platform access; normalized to E.164. Provide phone or adminId, never both.
                adminId:
                  type: integer
                  format: int64
                  minimum: 1
                escalationLevel:
                  type: integer
                  minimum: 0
                  maximum: 5
                active:
                  type: boolean
              additionalProperties: false
      parameters: &id001
      - in: path
        name: group
        required: true
        schema:
          type: string
          enum:
          - PLATFORM_OPERATIONS
          - FINANCE
          - SECURITY
          - COMPLIANCE
          - EXECUTIVE
  /api/v2/admin/communication/notifications/groups/{group}/quiet-hours:
    post:
      tags:
      - Admin Communication Routing
      operationId: postGroupsGroupQuietHoursNotifications
      summary: Set group quiet hours
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start
              - end
              - timezone
              properties:
                start:
                  type:
                  - string
                  - 'null'
                  description: HH:mm, or null together with end to clear
                end:
                  type:
                  - string
                  - 'null'
                timezone:
                  type: string
                  example: Africa/Kampala
              additionalProperties: false
      parameters: *id001
  /api/v2/admin/communication/notifications/evidence:
    get:
      tags:
      - Admin Communication Routing
      operationId: getEvidenceNotifications
      summary: Read notification delivery and routing evidence
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - in: query
        name: afterId
        schema:
          type: integer
          format: int64
          minimum: 0
          default: 0
  /api/v2/admin/communication/notifications/events/{id}/acknowledge:
    post:
      tags:
      - Admin Communication Routing
      operationId: postEventsIdAcknowledgeNotifications
      summary: Acknowledge an event and cancel pending escalation
      description: Requires platform ADMIN authorization. Uses the existing session/CSRF
        security boundary. Changes are audited.
      responses:
        '200':
          description: Notification operation completed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid notification policy, recipient, or quiet-hours request.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
  /api/v2/admin/compliance/summary:
    get:
      tags: [Admin Compliance]
      operationId: getComplianceSummary
      summary: Get compliance summary
      responses:
        '200':
          description: Compliance summary returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ObjectResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/compliance/report:
    get:
      tags: [Admin Compliance]
      operationId: getComplianceReport
      summary: Get compliance report
      parameters:
        - in: query
          name: from
          schema: { type: string }
        - in: query
          name: to
          schema: { type: string }
      responses:
        '200':
          description: Compliance report returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ObjectResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/compliance/events/{id}/review:
    post:
      tags: [Admin Compliance]
      operationId: reviewComplianceEvent
      summary: Mark a compliance event reviewed
      parameters:
        - $ref: '#/components/parameters/PositiveId'
        - in: query
          name: reviewedBy
          schema: { type: string }
      responses:
        '200':
          description: Review recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ObjectResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/compliance/profiles:
    get:
      tags: [Admin Compliance]
      operationId: listComplianceProfiles
      summary: List compliance profiles
      parameters:
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: Profiles returned, including an empty collection when no profiles match.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin Compliance]
      operationId: upsertComplianceProfile
      summary: Create or update a compliance profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entityId]
              properties:
                entityId: { type: integer, format: int64, minimum: 1 }
                entityType: { type: string }
                profileType: { type: string }
                tier: { type: string }
                status: { type: string }
                riskRating: { type: string }
                requiredDocumentsJson: { type: string }
                decisionReason: { type: string }
                verifiedBy: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/compliance/cases:
    get:
      tags: [Admin Compliance]
      operationId: listComplianceCases
      summary: List actionable compliance cases
      responses:
        '200':
          description: Actionable compliance cases returned.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/compliance/cases/{id}/decision:
    post:
      tags: [Admin Compliance]
      operationId: decideComplianceCase
      summary: Record a compliance case decision
      parameters:
        - $ref: '#/components/parameters/PositiveId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, minLength: 1 }
                reason: { type: string }
                actor: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Compliance case not found. }
  /api/v2/admin/communication/routing/providers:
    get:
      tags: [Admin Communication Routing]
      operationId: listCommunicationProviders
      summary: List communication providers
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/communication/routing/rules:
    get:
      tags: [Admin Communication Routing]
      operationId: listCommunicationRoutingRules
      summary: List communication routing rules
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin Communication Routing]
      operationId: upsertCommunicationRoutingRule
      summary: Create or update a routing rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [providerCode]
              properties:
                id: { type: integer, format: int64 }
                channel: { type: string, default: SMS }
                merchantId: { type: integer, format: int64 }
                priority: { type: integer, default: 100 }
                providerCode: { type: string, minLength: 1 }
                enabledFlag: { type: string, default: YES }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/communication/routing/rules/{ruleId}:
    delete:
      tags: [Admin Communication Routing]
      operationId: deleteCommunicationRoutingRule
      summary: Delete a communication routing rule
      parameters:
        - in: path
          name: ruleId
          required: true
          schema: { type: integer, format: int64, minimum: 1 }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/communication/routing/effective:
    get:
      tags: [Admin Communication Routing]
      operationId: previewEffectiveCommunicationRoute
      summary: Preview the effective communication route
      parameters:
        - in: query
          name: merchantId
          schema: { type: integer, format: int64, minimum: 1 }
        - in: query
          name: channel
          schema:
            type: string
            default: SMS
            enum: [SMS, WHATSAPP, EMAIL, USSD, PUSH, IN_APP]
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/packages:
    get:
      tags: [Admin Commercial Programmes]
      operationId: listCommercialPackages
      summary: List versioned Cito commercial packages
      responses:
        '200':
          description: Packages returned.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/packages/{packageCode}:
    put:
      tags: [Admin Commercial Programmes]
      operationId: saveCommercialPackage
      summary: Create or revise a draft commercial package
      parameters:
        - $ref: '#/components/parameters/PackageCode'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommercialPackageRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/packages/{packageCode}/submit:
    post:
      tags: [Admin Commercial Programmes]
      operationId: submitCommercialPackage
      summary: Submit a commercial package for approval
      parameters:
        - $ref: '#/components/parameters/PackageCode'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActorRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/packages/{packageCode}/approve:
    post:
      tags: [Admin Commercial Programmes]
      operationId: approveCommercialPackage
      summary: Approve and activate a submitted commercial package
      parameters:
        - $ref: '#/components/parameters/PackageCode'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActorRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/merchants/{merchantId}:
    get:
      tags: [Admin Commercial Programmes]
      operationId: getMerchantCommercialSummary
      summary: Get a merchant's package, lifecycle and entitlement commercial view
      parameters:
        - $ref: '#/components/parameters/MerchantId'
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Merchant not found. }
  /api/v2/admin/commercial/merchants/{merchantId}/packages/{packageCode}:
    post:
      tags: [Admin Commercial Programmes]
      operationId: assignCommercialPackage
      summary: Propose an active commercial package for a merchant
      parameters:
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/PackageCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment: { type: string, enum: [SANDBOX, PRODUCTION], default: PRODUCTION }
                effectiveFrom: { type: string, format: date-time }
                effectiveTo: { type: string, format: date-time }
                notes: { type: string }
                actor: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/merchants/{merchantId}/packages/{packageCode}/activate:
    post:
      tags: [Admin Commercial Programmes]
      operationId: activateCommercialPackageAssignment
      summary: Activate an effective package assignment
      parameters:
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/PackageCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment: { type: string, enum: [SANDBOX, PRODUCTION], default: PRODUCTION }
                actor: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/founding20:
    get:
      tags: [Admin Commercial Programmes]
      operationId: listFounding20
      summary: List the Founding 20 cohort with canonical lifecycle state
      responses:
        '200':
          description: Cohort returned.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/founding20/{merchantId}:
    post:
      tags: [Admin Commercial Programmes]
      operationId: enrollFounding20Merchant
      summary: Enroll or update a merchant in one of the twenty cohort slots
      parameters:
        - $ref: '#/components/parameters/MerchantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cohortSlot]
              properties:
                cohortSlot: { type: integer, minimum: 1, maximum: 20 }
                commercialOwner: { type: string }
                customerSuccessOwner: { type: string }
                targetGoLiveAt: { type: string, format: date-time }
                notes: { type: string }
                actor: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/founding20/{merchantId}/status:
    post:
      tags: [Admin Commercial Programmes]
      operationId: updateFounding20Status
      summary: Update the programme status of a Founding 20 merchant
      parameters:
        - $ref: '#/components/parameters/MerchantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [programmeStatus]
              properties:
                programmeStatus:
                  type: string
                  enum: [CANDIDATE, INVITED, ONBOARDING, LIVE, RETAINED, AT_RISK, EXITED]
                exitReason: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/embedded-partners:
    get:
      tags: [Admin Commercial Programmes]
      operationId: listEmbeddedPartnerProgramme
      summary: List embedded partners with programme and downstream-merchant progress
      responses:
        '200':
          description: Embedded partner programme entries returned.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/embedded-partners/{merchantId}:
    post:
      tags: [Admin Commercial Programmes]
      operationId: enrollEmbeddedPartnerProgramme
      summary: Enroll an existing active Embedded Cito partner in the commercial programme
      parameters:
        - $ref: '#/components/parameters/MerchantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                programmeTier: { type: string }
                commercialOwner: { type: string }
                targetDownstreamMerchants: { type: integer, minimum: 0 }
                targetGoLiveAt: { type: string, format: date-time }
                notes: { type: string }
                actor: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v2/admin/commercial/embedded-partners/{merchantId}/status:
    post:
      tags: [Admin Commercial Programmes]
      operationId: updateEmbeddedPartnerProgrammeStatus
      summary: Update an embedded partner programme status
      parameters:
        - $ref: '#/components/parameters/MerchantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [programmeStatus]
              properties:
                programmeStatus:
                  type: string
                  enum: [CANDIDATE, QUALIFIED, ONBOARDING, LIVE, SCALING, AT_RISK, EXITED]
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
components:
  securitySchemes:
    merchantSession:
      type: apiKey
      in: cookie
      name: SESSION
  parameters:
    PositiveId:
      in: path
      name: id
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    MerchantId:
      in: path
      name: merchantId
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    PackageCode:
      in: path
      name: packageCode
      required: true
      schema: { type: string, minLength: 1, maxLength: 64 }
  schemas:
    ObjectResponse:
      type: object
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
    ActorRequest:
      type: object
      required: [actor]
      properties:
        actor: { type: string, minLength: 1 }
    CommercialPackageRequest:
      type: object
      required: [packageName, serviceCodes]
      properties:
        packageName: { type: string, minLength: 1 }
        targetSegment: { type: string }
        description: { type: string }
        serviceCodes:
          type: array
          minItems: 1
          items: { type: string }
        onboardingSupportLevel: { type: string, default: STANDARD }
        commercialTerms:
          type: object
          additionalProperties: true
        actor: { type: string }
  responses:
    ObjectOk:
      description: Operation completed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ObjectResponse' }
    BadRequest:
      description: Invalid request or invalid state transition.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Authentication required.
    Forbidden:
      description: Administrator role required.
