openapi: 3.1.0
info:
  title: Cito Communications API
  version: 2.0.0
  description: |
    API contract for Cito Communications, with SMS as the first fully exposed channel.
    It covers signed merchant integration endpoints, the session-authenticated merchant SMS
    workspace, smart route and cost preview, campaigns, contacts and groups, sender identities,
    templates, drafts, delivery evidence, usage visibility, and two-way SMS callbacks.
servers:
  - url: https://cito.coresynergi.es
tags:
  - name: Communications SMS
  - name: Merchant SMS Workspace
  - name: SMS Audience
  - name: SMS Sender Identities
  - name: SMS Campaigns
  - name: SMS Conversations
  - name: SMS Provider Callbacks
paths:
  /api/v2/communication/messages:
    post:
      tags: [Communications SMS]
      operationId: sendCommunicationSms
      summary: Queue one SMS for durable delivery
      security: [{ signedMerchantRequest: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SmsSendRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/communication/messages/bulk:
    post:
      tags: [Communications SMS]
      operationId: sendBulkCommunicationSms
      summary: Queue up to 1,000 SMS recipients with independent delivery evidence
      security: [{ signedMerchantRequest: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SmsBulkRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/communication/messages/preview:
    post:
      tags: [Communications SMS]
      operationId: previewCommunicationSmsRoute
      summary: Analyze SMS encoding, segments, eligible providers and estimated route cost
      security: [{ signedMerchantRequest: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SmsPreviewRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/communication/messages/analyze:
    post:
      tags: [Communications SMS]
      operationId: analyzeCommunicationSms
      summary: Calculate encoding, character units and SMS segments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
  /api/v2/communication/messages/{reference}:
    get:
      tags: [Communications SMS]
      operationId: getCommunicationSmsStatus
      summary: Read delivery state for a queued communication
      security: [{ signedMerchantRequest: [] }]
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string, minLength: 1 }
        - name: merchantNumber
          in: query
          required: true
          schema: { type: string, minLength: 1 }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Communication not found. }

  /api/v2/merchant/communication/sms/overview:
    get:
      tags: [Merchant SMS Workspace]
      operationId: getMerchantSmsOverview
      summary: Get merchant SMS activity, audience and conversation metrics
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/analyze:
    post:
      tags: [Merchant SMS Workspace]
      operationId: analyzeMerchantSms
      summary: Calculate encoding and segment count for the merchant composer
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/preview:
    post:
      tags: [Merchant SMS Workspace]
      operationId: previewMerchantSmsRoute
      summary: Preview smart routing, availability and expected provider cost
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MerchantSmsPreviewRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/send:
    post:
      tags: [Merchant SMS Workspace]
      operationId: sendMerchantSms
      summary: Send or schedule SMS to direct recipients, contacts or groups
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MerchantSmsSendRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/history:
    get:
      tags: [Merchant SMS Workspace]
      operationId: listMerchantSmsHistory
      summary: List merchant SMS messages and routing state
      security: [{ merchantSession: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v2/merchant/communication/sms/contacts:
    get:
      tags: [SMS Audience]
      operationId: listMerchantSmsContacts
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [SMS Audience]
      operationId: saveMerchantSmsContact
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/contacts/{id}:
    delete:
      tags: [SMS Audience]
      operationId: deleteMerchantSmsContact
      security: [{ merchantSession: [] }]
      parameters:
        - $ref: '#/components/parameters/PositiveId'
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/groups:
    get:
      tags: [SMS Audience]
      operationId: listMerchantSmsGroups
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [SMS Audience]
      operationId: saveMerchantSmsGroup
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GroupRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/groups/{groupId}/members:
    post:
      tags: [SMS Audience]
      operationId: addMerchantSmsGroupMembers
      security: [{ merchantSession: [] }]
      parameters:
        - name: groupId
          in: path
          required: true
          schema: { type: integer, format: int64, minimum: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactIds:
                  type: array
                  items: { type: integer, format: int64, minimum: 1 }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v2/merchant/communication/sms/sender-identities:
    get:
      tags: [SMS Sender Identities]
      operationId: listMerchantSmsSenderIdentities
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [SMS Sender Identities]
      operationId: requestMerchantSmsSenderIdentity
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SenderIdentityRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/sender-identities/request:
    post:
      tags: [SMS Sender Identities]
      operationId: requestMerchantSmsSenderIdentityWithEvidence
      summary: Request a sender identity with use-case and supporting evidence
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SenderEvidenceRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v2/merchant/communication/sms/templates:
    get:
      tags: [Merchant SMS Workspace]
      operationId: listMerchantSmsTemplates
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/drafts:
    get:
      tags: [Merchant SMS Workspace]
      operationId: listMerchantSmsDrafts
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Merchant SMS Workspace]
      operationId: saveMerchantSmsDraft
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DraftRequest' }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/drafts/{draftId}:
    delete:
      tags: [Merchant SMS Workspace]
      operationId: deleteMerchantSmsDraft
      security: [{ merchantSession: [] }]
      parameters:
        - name: draftId
          in: path
          required: true
          schema: { type: string, minLength: 1 }
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v2/merchant/communication/sms/campaigns:
    get:
      tags: [SMS Campaigns]
      operationId: listMerchantSmsCampaigns
      security: [{ merchantSession: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [SMS Campaigns]
      operationId: createMerchantSmsCampaign
      summary: Create an immediate or scheduled campaign for up to 5,000 unique recipients
      security: [{ merchantSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignRequest' }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/delivery-reports:
    get:
      tags: [SMS Campaigns]
      operationId: listMerchantSmsDeliveryReports
      security: [{ merchantSession: [] }]
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
        - { name: senderId, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 200 } }
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/billing-summary:
    get:
      tags: [SMS Campaigns]
      operationId: getMerchantSmsBillingSummary
      security: [{ merchantSession: [] }]
      responses:
        '200': { $ref: '#/components/responses/ObjectOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v2/merchant/communication/sms/conversations:
    get:
      tags: [SMS Conversations]
      operationId: listMerchantSmsConversations
      security: [{ merchantSession: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/conversations/{conversationId}/messages:
    get:
      tags: [SMS Conversations]
      operationId: listMerchantSmsConversationMessages
      security: [{ merchantSession: [] }]
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 200 }
      responses:
        '200': { $ref: '#/components/responses/ArrayOk' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v2/merchant/communication/sms/conversations/{conversationId}/reply:
    post:
      tags: [SMS Conversations]
      operationId: replyToMerchantSmsConversation
      security: [{ merchantSession: [] }]
      parameters:
        - $ref: '#/components/parameters/ConversationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, minLength: 1 }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /webhooks/communication/sms/{token}/inbound:
    post:
      tags: [SMS Provider Callbacks]
      operationId: receiveSmsInboundWebhook
      summary: Receive provider-originated inbound SMS for an approved two-way sender identity
      security: []
      parameters:
        - $ref: '#/components/parameters/CallbackToken'
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
          application/x-www-form-urlencoded:
            schema: { type: object, additionalProperties: true }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /webhooks/communication/sms/{token}/delivery:
    post:
      tags: [SMS Provider Callbacks]
      operationId: receiveSmsDeliveryWebhook
      summary: Receive an SMS delivery receipt from a configured provider
      security: []
      parameters:
        - $ref: '#/components/parameters/CallbackToken'
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
          application/x-www-form-urlencoded:
            schema: { type: object, additionalProperties: true }
      responses:
        '202': { $ref: '#/components/responses/AcceptedObject' }
        '400': { $ref: '#/components/responses/BadRequest' }

components:
  securitySchemes:
    signedMerchantRequest:
      type: apiKey
      in: header
      name: X-CPay-Signature
      description: Cito signed merchant-request authentication. Merchant and timestamp headers are validated by the shared v2 request security layer.
    merchantSession:
      type: apiKey
      in: cookie
      name: JSESSIONID
  parameters:
    IdempotencyKey:
      name: X-CPay-Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 128 }
    PositiveId:
      name: id
      in: path
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    ConversationId:
      name: conversationId
      in: path
      required: true
      schema: { type: string, minLength: 1 }
    CallbackToken:
      name: token
      in: path
      required: true
      schema: { type: string, minLength: 20 }
  responses:
    ObjectOk:
      description: Request completed successfully.
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
    ArrayOk:
      description: Collection returned successfully.
      content:
        application/json:
          schema:
            type: array
            items: { type: object, additionalProperties: true }
    AcceptedObject:
      description: Request accepted for processing.
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
    BadRequest:
      description: Request validation failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Authentication or merchant session failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
  schemas:
    ErrorResponse:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
    RoutingOptions:
      type: object
      properties:
        senderId: { type: [string, 'null'] }
        scheduledAt: { type: [string, 'null'], format: date-time }
        routingStrategy:
          type: string
          enum: [BALANCED, LOWEST_COST, RELIABILITY_FIRST, PRIORITY]
          default: BALANCED
        countryCode: { type: [string, 'null'], minLength: 2, maxLength: 3 }
        currencyCode: { type: string, minLength: 3, maxLength: 3, default: UGX }
        requireDeliveryReceipts: { type: boolean, default: true }
        requireInbound: { type: boolean, default: false }
        fallbackEnabled: { type: boolean, default: true }
    SmsSendRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [merchantNumber, recipient, content]
          properties:
            merchantNumber: { type: string, minLength: 1 }
            channel: { type: string, enum: [SMS], default: SMS }
            recipient: { type: string, minLength: 7, maxLength: 20 }
            content: { type: string, minLength: 1 }
            purpose: { type: string, default: NOTIFICATION }
            externalReference: { type: [string, 'null'], maxLength: 128 }
            expiresInSeconds: { type: [integer, 'null'], minimum: 1 }
    SmsBulkRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [merchantNumber, recipients, content]
          properties:
            merchantNumber: { type: string, minLength: 1 }
            recipients:
              type: array
              minItems: 1
              maxItems: 1000
              items: { type: string, minLength: 7, maxLength: 20 }
            content: { type: string, minLength: 1 }
            purpose: { type: string, default: NOTIFICATION }
            externalReference: { type: [string, 'null'], maxLength: 128 }
            expiresInSeconds: { type: [integer, 'null'], minimum: 1 }
    SmsPreviewRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [merchantNumber, content]
          properties:
            merchantNumber: { type: string, minLength: 1 }
            content: { type: string, minLength: 1 }
    MerchantSmsPreviewRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [content]
          properties:
            content: { type: string, minLength: 1 }
    MerchantSmsSendRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [content]
          properties:
            recipients:
              type: array
              maxItems: 1000
              items: { type: string }
            contactIds:
              type: array
              items: { type: integer, format: int64, minimum: 1 }
            groupIds:
              type: array
              items: { type: integer, format: int64, minimum: 1 }
            content: { type: string, minLength: 1 }
            purpose: { type: string, default: NOTIFICATION }
            expiresInSeconds: { type: [integer, 'null'], minimum: 1 }
    ContactRequest:
      type: object
      required: [displayName, phone]
      properties:
        displayName: { type: string, minLength: 1 }
        phone: { type: string, minLength: 7, maxLength: 20 }
        email: { type: [string, 'null'], format: email }
        attributesJson: { type: [string, 'null'] }
    GroupRequest:
      type: object
      required: [groupName]
      properties:
        groupName: { type: string, minLength: 1 }
        description: { type: [string, 'null'] }
    SenderIdentityRequest:
      type: object
      required: [senderId]
      properties:
        senderId: { type: string, minLength: 1 }
        senderType: { type: string, enum: [ALPHANUMERIC, LONG_NUMBER, SHORT_CODE], default: ALPHANUMERIC }
        providerCode: { type: [string, 'null'] }
        countryCode: { type: [string, 'null'] }
        notes: { type: [string, 'null'] }
    SenderEvidenceRequest:
      allOf:
        - $ref: '#/components/schemas/SenderIdentityRequest'
        - type: object
          required: [useCase]
          properties:
            useCase: { type: string, minLength: 1 }
            supportingDocumentRef: { type: [string, 'null'] }
    DraftRequest:
      type: object
      required: [messageBody]
      properties:
        draftId: { type: [string, 'null'] }
        title: { type: [string, 'null'] }
        recipientMode: { type: string, default: DIRECT }
        recipientPayloadJson: { type: [string, 'null'] }
        senderId: { type: [string, 'null'] }
        purpose: { type: string, default: NOTIFICATION }
        messageBody: { type: string, minLength: 1 }
        routingStrategy: { type: string, default: BALANCED }
        scheduledAt: { type: [string, 'null'], format: date-time }
    CampaignRecipient:
      type: object
      required: [phone]
      properties:
        phone: { type: string, minLength: 7, maxLength: 20 }
        variables:
          type: object
          additionalProperties: { type: string }
    CampaignRequest:
      allOf:
        - $ref: '#/components/schemas/RoutingOptions'
        - type: object
          required: [name, content]
          properties:
            name: { type: string, minLength: 1 }
            recipients:
              type: array
              maxItems: 5000
              items: { $ref: '#/components/schemas/CampaignRecipient' }
            contactIds:
              type: array
              items: { type: integer, format: int64, minimum: 1 }
            groupIds:
              type: array
              items: { type: integer, format: int64, minimum: 1 }
            content: { type: string, minLength: 1 }
            purpose: { type: string, default: MARKETING }
            expiresInSeconds: { type: [integer, 'null'], minimum: 1 }
