openapi: 3.1.0
info:
  title: Cito Platform Evidence API
  version: 2.1.0
  description: |
    Administrator read-only contract for evidence-based Cito platform maturity reporting.
    Values come from durable authoritative records. Targets, configured adapters and missing evidence
    are never converted into achieved operational, commercial or provider-certification claims.
servers:
  - url: https://cito.coresynergi.es
    description: Production
security:
  - AdminPortalSession: []
tags:
  - name: Admin Platform Evidence
    description: Durable-record maturity evidence for authorized Cito administrators.
paths:
  /api/v2/admin/platform-evidence/scorecard:
    get:
      tags:
        - Admin Platform Evidence
      operationId: getPlatformEvidenceScorecard
      summary: Read the platform maturity evidence scorecard
      description: |
        Returns observed commercial, developer, production-adoption and provider-certification
        evidence from authoritative Cito records together with code-level provider definitions from
        the common provider registry. Provider definitions describe available adapters/capabilities;
        they are deliberately separate from certification evidence. The endpoint performs no provider
        request or state mutation and never reports targets as actuals.
      responses:
        '200':
          description: Durable-record platform evidence.
          content:
            application/json:
              schema:
                type: object
                required:
                  - evidenceBasis
                  - targetsReportedAsActuals
                  - commercial
                  - developer
                  - adoption
                  - providerDefinitions
                  - providerCertification
                properties:
                  evidenceBasis:
                    type: string
                    const: DURABLE_RECORDS_ONLY
                  targetsReportedAsActuals:
                    type: boolean
                    const: false
                  commercial:
                    type: object
                    additionalProperties:
                      type: integer
                      format: int64
                  developer:
                    type: object
                    additionalProperties:
                      type: integer
                      format: int64
                  adoption:
                    type: object
                    additionalProperties:
                      type: integer
                      format: int64
                  providerDefinitions:
                    type: array
                    description: Code-level provider capability definitions; not certification.
                    items:
                      type: object
                      required:
                        - providerCode
                        - domain
                        - capabilities
                        - environments
                      properties:
                        providerCode:
                          type: string
                        domain:
                          type: string
                          enum: [PAYMENT, COMMUNICATION, IDENTITY, RISK, VENDING, REGULATORY]
                        capabilities:
                          type: array
                          items:
                            type: string
                        environments:
                          type: array
                          items:
                            type: string
                            enum: [SANDBOX, PRODUCTION]
                      additionalProperties: false
                  providerCertification:
                    type: array
                    description: Durable certification evidence grouped by provider/channel.
                    items:
                      type: object
                      additionalProperties: true
                additionalProperties: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    AdminPortalSession:
      type: apiKey
      in: cookie
      name: CITO_SESSION
      description: Authenticated Cito portal session. The caller must also hold platform ADMIN authority.
  responses:
    Unauthorized:
      description: Authentication is required or the session is invalid.
    Forbidden:
      description: The authenticated principal is not authorized as a platform administrator.
